{{ if .Site.Params.widgets.categories }}
{{ if isset .Site.Taxonomies "categories" }}
{{ if not (eq (len .Site.Taxonomies.categories) 0) }}
<div class="widget">
	<header>
		<h4><i class="fi-folder"></i> <a href="{{ $.Site.BaseURL }}categories/">Categories</a></h4>
	</header>
	<ul>
		{{ range $key, $val := first 5 .Site.Taxonomies.categories.ByCount }}
		<li><a href="{{ $.Site.BaseURL }}categories/{{ $val.Name | urlize | lower }}">{{ $val.Name | title }}</a></li>
		{{ end }}
	</ul>
</div>
{{ end }}
{{ end }}
{{ end }}
